@import '../../styles/colors';
@import '../../styles/responsive';

:host {
  background-color: #fff;
  box-shadow: $shadow-panel;
  padding: 5px;
  transition: $shadow-transition;
  width: 100%;
  will-change: box-shadow;

  p {
    margin-right: 5px;
  }
}

@media #{$small-breakpoint} {
  :host {
    font-size: .8em;
  }
}

@media #{$medium-breakpoint} {
  :host {
    font-size: .9em;
  }
}
