@import '../../styles/responsive';

:host {
  display: inline-block;
  font-weight: bold;
  margin: 5px;

  .logo {
    vertical-align: middle;
  }
}
@media #{$small-breakpoint} {
  :host {
    font-size: .7em;
  }
}

@media #{$medium-breakpoint} {
  :host {
    font-size: .9em;
  }
}
