@import '../../styles/responsive';

:host {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  app-experience {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    width: 90%;
  }

  @media #{$small-breakpoint} {
    :host {
      font-size: 0.8em;
    }
  }
}
