 <div fxLayout="column" fxFill>
    <div fxLayout fxFlex >
        <div class="side"  >
          <h2>Resume</h2>
          <app-expertises fxLayout="column" fxLayoutAlign="center top"></app-expertises>
          <app-trainings fxLayout="column" fxLayoutAlign="center top"></app-trainings>
        </div>
        <div class="main" fxFlex="80" fxLayout="column" fxLayoutAlign="top top">
          <app-my-name></app-my-name>
          <div class="content">
            <app-experiences></app-experiences>
          </div>
        </div>
    </div>
</div>
