@import '../styles/colors';
@import '../styles/responsive';

.container {
  min-height: 100%;
  width: 100%;
}

.side-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

app-credits {
  flex-direction: row;
  display: flex;
  align-items: stretch;
}

.main {
  display: flex;
  max-width: 80%;
  flex-direction: column;
  align-items: stretch;

  .content {
    height: 100%;
  }
}

@media #{$small-breakpoint} {
  .main {
    max-width: 100%;
    .content {
      min-height: 100%;
    }
  }
}
