@import '../../../styles/colors';
@import '../../../styles/responsive';

:host {
  border-bottom: 1px solid $secondary-txt-color;
  padding-bottom: 1em;

  .category {
    display: inline-flex;
    vertical-align: middle;
  }

  .tech {
    display: inline-block;
  }
}

@media #{$small-breakpoint} {
  :host {
    border-bottom: 0;
    h3 {
      font-size: .8em;
    }
  }
}

@media #{$medium-breakpoint} {
  :host {
    h3 {
      font-size: 1em;
    }
  }
}
