/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import './styles/colors';

html {
  height: 100%;
}

body,
app-root {
  background-color: $main-bg-color;
  color: $main-txt-color;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
